<div class="tab-pane fade <%= @category == categoryPhrases.id.to_s ? "active show" : "" %>" id="v-pills-c<%= categoryPhrases.id %>" role="tabpanel" aria-labelledby="v-pills-c<%= categoryPhrases.id %>-tab">
  <div class="row">
    <div class="col-4">
      <div class="nav flex-column nav-pills phrases" id="v-pills-tab-c<%= categoryPhrases.id %>" role="tablist" aria-orientation="vertical">
        <% if categoryPhrases.phrases.count != 0 %>
          <%= render partial: 'phrases/phrase', collection: categoryPhrases.phrases %>
        <% else %>
          No phrases available
        <% end %>
      </div>
      <br/>
      <%= link_to 'New Phrase', new_phrase_path(category_id: categoryPhrases.id), class: 'btn btn-outline-link' %>
    </div>
    <div class="col-8">
      <div class="tab-content" id="v-pills-tabContent-c<%= categoryPhrases.id %>">
        <%= render partial: 'phrases/show', collection: categoryPhrases.phrases %>
      </div>
    </div>
  </div>
</div>